
.fixed-header{
    position:fixed;
    width:100%;
}

/*.margin-top{
    margin-top:100px;
}*/
.joylashuv{
    top:60px;
}

.z-index-body{
    z-index:-1;
}

.z-index-header {
    z-index: 2;
}
.sticky-top-header {
    top: 55px;
}

.table-header-sticky{
    top:112px;
}
.my-custom-scrollbar {
    /*height: 1000px;*/
 /*   overflow: auto;*/
}

.table-wrapper-scroll-y {
    display: block;
}
.table-footer{
    z-index:4;
    position:fixed;
    display:block;
}

.login-container{
    align-content:center;
    width:600px;
    margin:auto;
    background-color:green;
    padding:20px;
    border-radius:30px;
}
/*.login-container input{
    display:flex;
    width:auto;
}*/