@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/position.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>
<body>
    <header class="fixed-header z-index-header">
        <nav id="navbar" class="navbar navbar-expand navbar-light bg-white border-bottom box-shadow">
            <div class="container bg-info">
                <div class="">
                    <ul class="navbar-nav">
                        @if (signManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Danger">Danger</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Info">Info</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Danger">Danger</a>
                            </li>
                               <li class="nav-item">
                                <a class="nav-link text-dark disabled" asp-area="" asp-controller="User" asp-action="Info">Info</a>
                            </li>
                        }
                        
                    </ul>
                </div>

                <div class=" text-left">
                    <ul class="navbar-nav flex-grow-1">

                        @if (signManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="Logout" asp-controller="user">
                                    <button type="submit" class="nav-link btn btn-link" style="width:auto">
                                        Log Out  @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Sign up</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container position-relative joylashuv align-items-center">
        <div role="main" class="joylashuv z-index-body align-items-center justify-content-center">
            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
      @*  <div class="container">
            &copy; 2022 - Task_4_Itransion - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>*@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
